<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <p class="navbar-brand no-margin"><%= title %></p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-dropdown" aria-controls="navbar-dropdown" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbar-dropdown">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <form class="d-flex" action="/login" method="post" id="login-form">
                        <input class="form-control me-2" type="text" placeholder="Username" id="input-login-username" required>
                        <input class="form-control me-2" type="password" placeholder="Password" id="input-login-password" required>
                        <button class="btn btn-outline-success" type="submit">Login</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <form class="card" action="/signup" id="signup-form">
                        <div class="card-header text-center">New to SocialShare?</div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="input-firstname" placeholder="First Name" required>
                                        <label for="input-firstname">First Name</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="input-middlename" placeholder="Middle Name">
                                        <label for="input-middlename">Middle Name</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="input-lastname" placeholder="Last Name" required>
                                        <label for="input-lastname">Last Name</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="input-username" placeholder="Username" required>
                                        <label for="input-username">Username</label>
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="input-email" placeholder="Email Address" required>
                                        <label for="input-email">Email Address</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="input-age" placeholder="Age" required>
                                        <label for="input-age">Age</label>
                                    </div>
                                </div>
                            
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" id="input-birthday" placeholder="Birthday" required>
                                        <label for="input-birthday">Birthday</label>
                                    </div>
                                </div>
                            
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <select name="select-sex" id="select-sex" class="form-select" required>
                                            <option value="0" selected>Select Sex</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>

                                        <label for="select-sex">Sex</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="input-password" placeholder="Password" required>
                                        <label for="input-password">Password</label>
                                    </div>
                                </div>
                            
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="input-confirm-password" placeholder="Confirm Password" required>
                                        <label for="input-confirm-password">Confirm Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer d-grid">
                            <input type="submit" value="Signup to SocialShare" class="btn btn-success">
                        </div>
                    </form>
                </div>

                <div class="col-md-6"></div>
            </div>
        </div>
    </main>

    <footer class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <div class="container-fluid">
            <p class="no-margin py-3">Developed By: Orlie Wayne A. Faustorilla</p>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <p class="no-margin py-3" id="clock">Loading Clock</p>
                </li>
            </ul>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="./javascripts/clock.js"></script> -->
    <script type="text/javascript" src="./javascripts/login.js"></script>
    <script type="text/javascript" src="./javascripts/signup.js"></script>
</body>
</html>